<%- include('partials/header') %>
<div class="ui conatiner" id="index">
    <% Blogs.forEach(blog=> {%>
            <h3><%= blog.title %></h3>
            <img src="<%= blog.image %>" alt="<%= blog.title %>">
            <br><span><%= blog.created.toDateString() %></span>
            <p><%-blog.body.substring(0,100)%>...</p>
            <button class="ui inverted teal medium button"><a href="/blogs/<%= blog._id %>">Read More</a></button>
            <hr class="ui divider"></hr>
    <% }) %>
<%- include('partials/footer') %>
